<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.0.xsd">

  <!--没有该句会报空指针异常，annotation-config是对标记了@Required、@Autowired、@PostConstruct、@PreDestroy、@Resource、@WebServiceRef、@EJB、@PersistenceContext、@PersistenceUnit等注解的类进行对应的操作使注解生效-->
  <context:annotation-config/>

  <!-- Definition for profile bean -->
  <bean id="profile" class="com.mkyong.common.Profile">
  </bean>

  <!-- Definition for student1 bean -->
  <bean id="student1" class="com.mkyong.common.Student">
    <property name="name" value="Zara"/>
    <property name="age" value="11"/>
  </bean>

  <!-- Definition for student2 bean -->
  <bean id="student2" class="com.mkyong.common.Student">
    <property name="name" value="Nuha"/>
    <property name="age" value="2"/>
  </bean>
</beans>