<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
  "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

  <!-- !!!! Driver Class Path !!!! -->
  <classPathEntry location="C:\Users\litz-a\.m2\repository\mysql\mysql-connector-java\5.1.46\mysql-connector-java-5.1.46.jar"/>

  <context id="context" targetRuntime="MyBatis3">
    <commentGenerator>
      <property name="suppressAllComments" value="true"/>
      <property name="suppressDate" value="true"/>
    </commentGenerator>

    <!-- !!!! Database Configurations !!!! -->
    <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://192.168.162.138:3306/SpringSessionDB?tinyInt1isBit=false"
      userId="root" password="gcrs1qaz2wsx"/>

    <!-- !!!! Model Configurations !!!! -->
    <javaModelGenerator targetPackage="com.lee.mybatis.model" targetProject="D:\workspace\GitHub\spring\Java-Learning\spring\spring-security\spring-boot-mybatis-collection-sample\src\main\java">
      <property name="enableSubPackages" value="false"/>
      <property name="trimStrings" value="true"/>
    </javaModelGenerator>

    <!-- !!!! Mapper XML Configurations !!!! -->
    <sqlMapGenerator targetPackage="com.lee.mybatis.mapper.generate" targetProject="D:\workspace\GitHub\spring\Java-Learning\spring\spring-security\spring-boot-mybatis-collection-sample\src\main\java">
      <property name="enableSubPackages" value="true"/>
    </sqlMapGenerator>

    <!-- !!!! Mapper Interface Configurations !!!! -->
    <javaClientGenerator targetPackage="com.lee.mybatis.dao" targetProject="D:\workspace\GitHub\spring\Java-Learning\spring\spring-security\spring-boot-mybatis-collection-sample\src\main\java" type="XMLMAPPER">
      <property name="enableSubPackages" value="true"/>
    </javaClientGenerator>

    <!-- !!!! Table Configurations !!!! -->
    <!--<table tableName="menu" alias="menu" domainObjectName="Menu" enableCountByExample="true" enableDeleteByExample="true"-->
    <!--enableSelectByExample="true" enableUpdateByExample="true"/>-->
    <!--<table tableName="role" alias="role" domainObjectName="Role" enableCountByExample="true" enableDeleteByExample="true"-->
      <!--enableSelectByExample="true" enableUpdateByExample="true"/>-->
    <!--<table tableName="role_menu_xref" alias="role_menu" domainObjectName="MenuRole" enableCountByExample="true" enableDeleteByExample="true"-->
      <!--enableSelectByExample="true" enableUpdateByExample="true"/>-->
    <table tableName="account" alias="account" domainObjectName="Account" enableCountByExample="true" enableDeleteByExample="true"
    enableSelectByExample="true" enableUpdateByExample="true"/>
    <table tableName="account_bill" alias="account_bill" domainObjectName="AccountBill" enableCountByExample="true"
    enableDeleteByExample="true" enableSelectByExample="true" enableUpdateByExample="true"/>
  </context>
</generatorConfiguration>