<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>SSO client1</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>

<body>
<div class="container">
  <div class="col-sm-12">
    <h1>SSO client1</h1>
    <a class="btn btn-primary" href="securedPage">Login</a>
    <a href="http://xxlssoclient2.com:8084/client2">访问Client2</a><br/>
    <a href="/logout">退出登录1</a><br/>
    <a href="http://demo.baomidou.com:8082/sso-server/exit">退出登录2</a>
  </div>
</div>
</body>
</html>