<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.spring.springboot.dao.CommentDao">
    <resultMap type="org.spring.springboot.domain.Comment" id="CommentResult">
        <association property="blog" select="selectBlog" column="id" javaType="Blog"/>
    </resultMap>

    <select id="selectComment" parameterType="int" resultMap="CommentResult">
        select * from comment where id = #{id}
    </select>

    <select id="selectBlog" parameterType="int" resultType="org.spring.springboot.domain.Blog">
        select * from blog where id = #{id}
    </select>
</mapper>