<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lee.mybatis.mapper.InstituteMapper">
  <resultMap id="BaseResultMap" type="org.lee.mybatis.model.Institute">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>


  <sql id="Base_Column_List">
    id, name
  </sql>


  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from institute
    where id = #{id,jdbcType=INTEGER}
  </select>


  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from institute
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <insert id="save" keyColumn="id" keyProperty="id"
          parameterType="org.lee.mybatis.model.Institute" useGeneratedKeys="true">
    insert into institute (id, name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>


  <update id="update" parameterType="org.lee.mybatis.model.Institute">
    update institute
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from institute
  </select>


  <select id="findByIds" parameterType="java.util.List" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from institute
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=",">
      #{item,jdbcType=INTEGER}
    </foreach>
  </select>


  <delete id="deleteByIds" parameterType="java.util.List">
    delete from
    institute
    where
    id in
    <foreach close=")" collection="list" item="item" open="(" separator=",">
      #{item,jdbcType=INTEGER}
    </foreach>
  </delete>


  <insert id="saveBatch" keyColumn="id" keyProperty="id" parameterType="java.util.List" useGeneratedKeys="true">
    insert into
    institute
    (id, name)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.name,jdbcType=VARCHAR})
    </foreach>
  </insert>


  <update id="updateBatch" parameterType="java.util.List">
    update institute
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="name = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.name != null">
            when #{item.id,jdbcType=INTEGER} then #{item.name,jdbcType=VARCHAR}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>

</mapper>
