<?xml version="1.0" encoding="utf8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.abc.mapper.CourseMapper">
  <!-- 作者博客：http://legend2011.blog.51cto.com/
                     作者的MyBatis专栏：http://legend2011.blog.51cto.com/3018495/d-5
                    欢迎博客留言，和作者多交流 -->
  <!--根据id查询课程及选修的学生-->
  <select id="getById" parameterType="int" resultMap="courseResutMap">
       select c.id course_id,c.course_code course_code,c.course_name course_name,
       s.id s_id, s.name s_name, s.gender s_gender, s.grade s_grade, s.major s_major
      from course c left join student_course sc on c.id = sc.course_id
      left join student s on sc.student_id = s.id where c.id = #{id}
   </select>

  <!--课程实体映射，映射简单属性-->
  <resultMap id="simpleCourse" type="com.abc.domain.Course">
    <id property="id" column="course_id"/>
    <result property="courseCode" column="course_code"/>
    <result property="courseName" column="course_name"/>
  </resultMap>

  <!--课程实体映射，除映射简单属性，还包含students复杂属性映射-->
  <resultMap id="courseResutMap" type="com.abc.domain.Course" extends="simpleCourse">
    <collection property="students" resultMap="com.abc.mapper.StudentMapper.simpleStudent"/>
  </resultMap>

  <select id="getByStudentId" parameterType="int" resultMap="simpleCourse">
      select c.id course_id,course_code,course_name
      from course c,student_course sc where sc.student_id=#{id} and sc.course_id = c.id
   </select>

</mapper>