<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace的值是对应的映射器接口的完整名称-->
<mapper namespace="com.abc.mapper.TeacherMapper">

  <!--教师实体映射 -->
  <resultMap id="simpleTeacher" type="com.abc.domain.Teacher">
    <id property="id" column="t_id"/>
    <result property="name" column="t_name"/>
    <result property="gender" column="t_gender"/>
    <result property="researchArea" column="t_research_area"/>
    <result property="title" column="t_title"/>
  </resultMap>

  <select id="getById" parameterType="int" resultMap="simpleTeacher">
   select t.name t_name, t.gender t_gender, t.title t_title, t.research_area
   t_research_area from teacher t where t.id=#{id}
  </select>

</mapper>